body {
  font-family: Roboto Condensed;
  margin: 0;
}

a,
a:visited,
a:hover {
  color: black;
  text-decoration: none;
}

header {
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
i.material-icons {
  font-size: 36px;
}

div.container {
  display: flex;
  flex-direction: column;
  height: 2000px;
  flex-wrap: wrap;
  width: 100vw;
}
div.gallery {
  border: 5px solid #ffe100;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin-bottom: 50px;
  background-color: #ffe100;
  border-radius: 20px;
}

div.container a {
  height: auto;
  display: flex;
  align-items: center;
}

div.gallery:hover {
  border: 5px solid #474747;
}

div.gallery img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 20px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 1000px) {
  div.container {
    height: 1600px;
    /* height: 200vw; */
  }
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999vw;
    margin: 6px 0;
  }
  div.container {
    height: 4000px;
  }
}

@media only screen and (max-width: 500px) {
  /* .responsive {
    width: 100%;
    margin-bottom: 20px;} */

  div.container {
    /* height: 3200px; */
    height: 680vw;
  }
}

@media only screen and (max-width: 380px) {
  /* .responsive {
    width: 100%;
    margin-bottom: 20px;} */

  div.container {
    /* height: 3200px; */
    height: 800vw;
  }
}

/* .clearfix:after {
  content: "";
  display: table;
  clear: both;
} */
@media only screen and (max-width: 500px) {
  img {
    width: 75%;
  }
  i.material-icons {
    font-size: 30px;
  }
}
@media only screen and (max-width: 400px) {
  header {
    flex-direction: column;
  }
}
