body {
  font-family: Roboto Condensed;
  margin: 0;
}

a,
a:visited,
a:hover {
  color: black;
  text-decoration: none;
}

header {
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
i.material-icons {
  font-size: 36px;
}

div.container {
  display: flex;
  flex-direction: column;
  height: 145vw;
  flex-wrap: wrap;
  width: 100%;
}
div.gallery {
  border: 5px solid #ffe100;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  /* margin-bottom: 5vw; */
  background-color: #ffe100;
  border-radius: 20px;
}

div.container a {
  height: auto;
  display: flex;
  align-items: center;
}

div.gallery:hover {
  border: 5px solid #474747;
}

div.gallery img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

div.desc {
  /* padding: 15px; */
  padding: 1vw;
  font-size: 2vw;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 2.5vw;
  float: left;
  width: 24.99999%;
}

/* @media only screen and (max-width: 2500px) {
  div.container {
    height: 3400px;
  }
} */

@media only screen and (max-width: 700px) {
  .responsive {
    width: 48vw;
    /* margin: 6px 0; */
    padding: 2.5vw;
  }
  div.container {
    height: 490vw;
  }
  /* .gallery {
    margin-bottom: 5px;
  } */
  div.desc {
    font-size: 4vw;
  }
}

@media only screen and (max-width: 500px) {
  img {
    width: 75%;
  }
  i.material-icons {
    font-size: 30px;
  }
}
@media only screen and (max-width: 400px) {
  header {
    flex-direction: column;
  }
}
