body {
  font-family: Roboto Condensed;
}

div.header {
  margin-left: 10px;
}

div.container {
  display: flex;
  flex-direction: column;
  height: 2000px;
  flex-wrap: wrap;
  width: 100vw;
}
div.gallery {
  border: 5px solid #ffe100;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin-bottom: 50px;
  background-color: #ffe100;
  border-radius: 20px;
}

a {
  height: auto;
  display: flex;
  align-items: center;
}

div.gallery:hover {
  border: 5px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 20px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 1000px) {
  div.container {
    height: 1500px;
  }
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
  div.container {
    height: 4000px;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
    margin-bottom: 20px;
  }
  div.container {
    height: auto;
  }
}

/* .clearfix:after {
  content: "";
  display: table;
  clear: both;
} */
